//- underscore means this file will be included in another file, _ is not compulsary here 

header
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    title EssenceJoin
    //- favicon
    link(rel='shortcut icon' type='/image/ico' href='/img/favicon.ico')
    link(rel='stylesheet' href='/css/style.css')