doctype html
html
    head
        title EssenceJoin
        //- favicon
        link(rel='shortcut icon',type='image/ico',href='img/favicon.ico')
        link(rel='stylesheet',href='css/style.css')
    body
        h1 Activity
        p All Activities

        