doctype html
html
    //- body
    body
        //- header
        include _header

        //- content
        //- block content is an extension of other files
        block content
            h1 content

        //- footer
        include _footer


