extends home

block content
    h1 Activity Overview

    table
        tr
            th Created
            th Location
            th Activity
        //- loop through number of activities
        each activity in activities
            tr
                td=activity.createTime.toLocaleString('en',{weekday:'short', day:'2-digit', month:'long', year:'numeric', hour:'2-digit', minute:'2-digit'})
                td=activity.locations.location
                td=activity.activityName



